{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "curly": 2,
    "func-names": 0,
    "indent": [2, 2],
    "quotes": [1, "single"]
  }
}
