a {
  color: #3b8bba;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

a.editable-click {
  border: none;
  color: #646464;
  vertical-align: middle; }
  a.editable-click:hover {
    color: #646464;
    border-bottom: dotted 1px #646464; }

.editable-buttons {
  display: inline-block;
  vertical-align: middle; }

.editable-error {
  font-size: 80%;
  color: #d13b3b;
  margin-top: 5px; }

.alertify-log {
  font-size: 18px; }

input[type=url],
input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: .8em;
  padding: .5em .6em;
  -webkit-transition: .3s linear border;
  -moz-transition: .3s linear border;
  -ms-transition: .3s linear border;
  -o-transition: .3s linear border;
  transition: .3s linear border;
  width: 70%; }
  input[type=url]:focus,
  input[type=text]:focus {
    outline: none; }

.big-button {
  font-size: 180%; }

.small-button {
  font-size: 70%; }

.pure-button-secondary {
  background: #42b8dd;
  color: white; }

.container {
  font-size: 130%;
  margin: 0 auto;
  max-width: 940px; }

.header {
  background-color: #eff3f4;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 30px 80px 60px 80px; }
  .header h1 {
    color: #333333;
    font-size: 2.5em;
    margin-bottom: 5px; }
  .header p {
    color: #999999; }
    .header p#subtitle {
      margin-top: 15px;
      margin-bottom: 35px; }

.content {
  padding-bottom: 130px;
  padding-left: 80px;
  padding-right: 80px; }
  .content .option_group {
    margin-top: 70px; }
    .content .option_group label {
      display: block;
      margin-bottom: 10px; }
    .content .option_group input[type=checkbox] {
      margin: 0;
      padding: 0;
      position: relative;
      top: -1px; }
  .content ul.spacing_rule_list {
    list-style-type: none;
    margin-top: 30px;
    margin-left: 0;
    padding-left: 5px; }
    .content ul.spacing_rule_list li {
      height: 39px;
      margin-bottom: 10px; }
  .content p#spacing_when_click_msg {
    margin-top: 30px; }

.footer {
  background-color: #ecf0f2;
  padding: 40px 80px 30px 80px;
  text-align: center; }
  .footer p {
    font-size: 110%;
    margin-top: 0px;
    margin-bottom: 8px; }
    .footer p.copyleft {
      margin-top: 30px; }
