// Options Page

$link-color: #3b8bba;

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.editable-click {
  border: 0;
  color: #646464;
  display: inline-block;
  max-width: 600px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    border-bottom: dotted 1px #646464;
    color: #646464;
  }
}

.editable-buttons {
  display: inline-block;
  vertical-align: middle;
}

.editable-error {
  color: #d13b3b;
  font-size: 80%;
  margin-top: 5px;
}

input[type=url],
input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: .8em;
  padding: .5em .6em;
  -webkit-transition: .3s linear border;
  -moz-transition: .3s linear border;
  -ms-transition: .3s linear border;
  -o-transition: .3s linear border;
  transition: .3s linear border;
  width: 70%;

  &:focus {
    outline: none;
  }
}

.big-button {
  font-size: 180%;
}

.small-button {
  font-size: 70%;
}

.pure-button-blue {
  background: #2e7bc8;
  color: #fff;
}

.pure-button-green {
  background: #4faf4c;
  color: #fff;
}

.pure-button-purple {
  background: #6c4094;
  color: #fff;
}

.options_container {
  font-size: 130%;
  margin: 0 auto;
  max-width: 940px;

  .header {
    background-color: #eff3f4;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 30px 80px 60px 80px;

    h1 {
      color: #333;
      font-size: 2.5em;
      margin-bottom: 5px;
    }

    p {
      color: #999;
    }

    #subtitle {
      margin-bottom: 35px;
      margin-top: 15px;
    }
  }

  .content {
    padding-bottom: 130px;
    padding-left: 80px;
    padding-right: 80px;

    .option_group {
      margin-top: 70px;

      label {
        display: block;
        margin-bottom: 10px;
      }

      input[type=checkbox] {
        margin: 0;
        padding: 0;
        position: relative;
        top: -1px;
      }
    }

    ul.spacing_rule_list {
      list-style-type: none;
      margin-left: 0;
      margin-top: 30px;
      padding-left: 5px;

      li {
        height: 39px;
        margin-bottom: 10px;
      }
    }

    #spacing_when_click_msg {
      margin-top: 30px;
    }
  }
}

.options_footer {
  background-color: #ecf0f2;
  padding: 40px 80px 30px 80px;
  text-align: center;

  p {
    font-size: 110%;
    margin-bottom: 8px;
    margin-top: 0;

    &.copyleft {
      margin-top: 30px;
    }
  }
}

// Popup Page

.popup_body {
  font-size: 100%;
}

.popup_container {
  padding: 0 20px 0 20px;
  text-align: center;
  width: 340px;

  .pure-button {
    margin-bottom: 20px;
  }
}

.popup_footer {
  background-color: #ecf0f2;
  margin: 0;
  padding: 2px 2px 1px 2px;
  text-align: center;

  p {
    font-size: 90%;
  }
}
