<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Cee</string>
	<key>Builder Version</key>
	<string>11601.1.56</string>
	<key>CFBundleDisplayName</key>
	<string>paranoid-auto-spacing</string>
	<key>CFBundleIdentifier</key>
	<string>moe.Cee.paranoid-auto-spacing</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.7</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/paranoid-auto-spacing.js</string>
				<string>js/content_script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>自動在網頁中所有的中文和半形的英文、數字、符號之間插入空白。</string>
	<key>DeveloperIdentifier</key>
	<string>BJJYLFU3B7</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/Cee</string>
</dict>
</plist>
